# 1. 예산

In [ ]:
# 입력1

d = [1, 3, 2, 5, 4] # 부서별 신청 금액
budget = 9          # 예산
# result = 3


# 입력 2

d = [2, 2, 3, 3]     # 부서별 신청 금액
budget = 10          # 예산
# result = 4

In [45]:
d = [1, 3, 2, 5, 4] # 부서별 신청 금액
budget = 9

def solution(d, budget):
    d.sort()
    temp = 0
    result = -1
    for i in range(len(d)):
        temp += d[i]
        if temp > budget:
            result = i
            break
    if result == -1:
        return len(d)
    else:
        return result
    
print(solution(d, budget))

3

# 2. 직사각형 별찍기

In [ ]:
a, b = map(int, input().strip().split(' '))
for i in range(b):
    print('*'*a)

# 3. x만큼 간격이 있는 n개의 숫자

In [ ]:
# input
x = 2
n = 5

# result
[2,4,6,8,10]

In [ ]:
def solution(x, n):
    temp = 0
    result = []
    for i in range(n):
        temp += x
        result.append(temp)
    return result

# 4. 행렬의 덧셈

In [ ]:
# input
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]

# result
[[4,6],[7,9]]

In [ ]:
def solution(arr1, arr2):
    result = []
    for i in range(len(arr1)):
        tmp = []
        for j in range(len(arr1[0])):
            temp = arr1[i][j] + arr2[i][j]
            tmp.append(temp)
        result.append(tmp)
    return result

# 5. 핸드폰 번호 가리기

In [ ]:
# input
phone_number = '01033334444'

# return
"*******4444"

In [15]:
def solution(phone_number):
    result = "*" * len(phone_number[0:-4]) + phone_number[-4:]
    return result

# 6. 하샤드 수

In [ ]:
# input
x = 10

# result
True

In [25]:
x = 10

temp = 0
for i in range(len(str(x))):
    temp += int(str(x)[i])
if x%temp == 0:
    print(True)
else:
    print(False)

True

In [26]:
def solution(x):
    temp = 0
    for i in range(len(str(x))):
        temp += int(str(x)[i])
    if x%temp == 0:
        return True
    else:
        return False

# 7. 평균 구하기

In [ ]:
# input
arr = [1,2,3,4]

# result
2.5

In [ ]:
def solution(arr):
    return sum(arr)/len(arr)

# 8. 콜라츠 추측

In [ ]:
# input
n = 6

# result
8

In [36]:
def solution(num):
    trial = 0
    while True:
        if num != 1:
            if num%2 == 0:
                num = num/2
            else:
                num = num*3 + 1
            trial += 1
        else:
            if trial > 500:
                return -1
            else:
                return trial
            break

# 9. 최대공약수와 최소공배수

In [ ]:
# input
n = 3
m = 12

# result
[3,12]

In [ ]:
def solution(n, m):
    mul = n*m
    result = []
    if n <= m:
        dummy = n
        n = m
        m = dummy
    while True:
        r = n%m
        if r != 0:
            n = m
            m = r
        else:
            result.append(m)
            break
    result.append(int(mul/m))
    return result

# 10. 짝수와 홀수

In [ ]:
# input
num = 3

# result
"Odd"

In [ ]:
def solution(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

# 11. 제일 작은 수 제거하기

In [ ]:
# input
arr = [4,3,2,1]

# result
[4,3,2]

In [ ]:
def solution(arr):
    arr.remove(min(arr))
    if arr == []:
        return [-1]
    else:
        return arr

# 12. 정수 제곱근 판별

In [ ]:
# input
n = 121

# result
144

In [ ]:
import math
def solution(n):
    i = math.sqrt(n)
    if i == int(i):
        return n + 2*i + 1
    else:
        return -1

# 13. 정수 내림차순으로 배치하기

In [ ]:
# input
n = 118372

# result
873211

In [ ]:
def solution(n):
    li = []
    for i in str(n):
        li.append(i)
    li.sort(reverse = True)
    num = ""
    for i in li:
        num = num + str(i)
    return num

# 14. 자연수 뒤집어 배열로 만들기

In [ ]:
# input
n = 12345

# result
result = [5,4,3,2,1]

In [ ]:
def solution(n):
    li = []
    for i in range(len(str(n))-1, -1, -1):
        li.append(int(str(n)[i]))
    return li

# 15. 자릿수 더하기

In [ ]:
# input
n = 123

# result
6

In [ ]:
def solution(n):
    res = 0
    for i in str(n):
        res += int(i)
    return res

# 16. 이상한 문자 만들기

In [ ]:
# input
s = "try hello world"

# result
"TrY HeLlO WoRlD"

In [24]:
def solution(s):
    tmp = s.split(' ')
    for i in tmp:
        li = list(i)
        res = ""
        for j in range(len(li)):
            if j % 2 == 0:
                li[j] = li[j].upper()
            else:
                li[j] = li[j].lower()
            res += li[j]
        tmp[tmp.index(i)] = res
    return ' '.join(tmp)

TrY hello world
TrY HeLlO world
TrY HeLlO WoRlD

# 17. 약수의 합

In [ ]:
# input
n = 12

# result
28

In [44]:
n = 12

def solution(n):
    result = 0
    for i in range(1, n+1):
        if n%i == 0:
            result += i
    return result

print(solution(n))

28

# 18. 시저 암호

In [ ]:
# input
s = "a B z"
n = 4

# return
"e F d"

In [54]:
s = "a B z"
n = 4

l_alpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
u_alpha = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
nun = [" "]
def solution(s, n):
    li = list(s)
    for i in range(len(li)):
        if li[i] in l_alpha:
            li[i] = l_alpha[(l_alpha.index(str(li[i]))+n)%len(l_alpha)]
        elif li[i] in u_alpha:
            li[i] = u_alpha[(u_alpha.index(str(li[i]))+n)%len(u_alpha)]            
    return ''.join(li)

print(solution(s,n))

e F d

# 19. 문자열을 정수로 바꾸기

In [ ]:
def solution(s):
    answer = int(s)
    return answer

# 20. 수박수박수박수박수박수?

In [ ]:
# input
n = 3

# return
"수박수"

In [ ]:
def solution(n):
    answer = ''
    for i in range(n):
        if i%2 == 0:
            answer += "수"
        else:
            answer += "박"
    return answer

# 21. 소수 찾기

### 에라토스테네스의 체 활용

In [ ]:
# input
n = 10

# return
4

In [56]:
n = 10

def solution(n):
    li = [True]*(n+1)
    cnt = 0
    for i in range(2, int(n**0.5) + 1):
        if li[i] == True:
            for j in range(i+i, n+1, i):
                li[j] = False
    for i in range (2, n+1):
        if li[i] == True:
            cnt += 1
    return cnt

print(solution(n))

4

# 22. 서울에서 김서방 찾기

In [ ]:
# input
seoul = ["Jane", "Kim"]

# return
"김서방은 1에있다"

In [61]:
seoul = ["Jane", "Kim"]

def solution(seoul):
    return "김서방은 " + str(seoul.index("Kim")) + "에 있다"

print(solution(seoul))

김서방은 1에 있다

# 23. 문자열 다루기 기본

In [ ]:
# input
s = "1234"

# return
True

In [72]:
s = "a234"

def solution(s):
    if len(s) == 4 or len(s) == 6:
        if s.isdigit() == True:
            return True
    return False

print(solution(s))

False

# 24. 문자열 내림차순으로 배치하기

In [ ]:
# input
s = "Zbcdefg"

# return
"gfedcbZ"

In [5]:
s = "Zbcdefg"

def solution(s):
    li = list(s)
    li.sort(reverse=True)
    return ''.join(li)

print(solution(s))

gfedcbZ

# 25. 문자열 내 p와 y의 개수

In [ ]:
# input
s = "pPoooyY"

# return
True

In [10]:
s = "pPoooyY"

def solution(s):
    ss = s.lower()
    if ss.count("p") == ss.count('y'):
        return True
    else:
        return False

print(solution(s))

True

# 26. 문자열 내 마음대로 정렬하기

In [ ]:
# input
strings = ["sun", "bed", "car"]
n = 1

# return
["car", "bed", "sun"]

In [37]:
strings = ["sun", "bed", "car"]
n = 1

def solution(strings, n):
    strings.sort()
    strings.sort(key = lambda i:i[n])
    return strings

print(solution(strings, n))

['car', 'bed', 'sun']

# 27. 두 정수 사이의 합

In [ ]:
# input
a = 3
b = 5

# return
12

In [40]:
a = 3
b = 5

def solution(a, b):
    cnt = 0
    if a <= b:
        for i in range(a, b+1):
            cnt += i
    else:
        for i in range(b, a+1):
            cnt += i

    return cnt

print(solution(a, b))

12

# 28. 나누어 떨어지는 숫자 배열

In [ ]:
# input
arr = [5, 9, 7, 10]
divisor = 5

# return
[5, 10]

In [43]:
arr = [5, 9, 7, 10]
divisor = 5

def solution(arr, divisor):
    answer = []
    for i in arr:
        if i % divisor == 0:
            answer.append(i)
    if answer == []:
        return [-1]
    answer.sort()
    return answer

print(solution(arr, divisor))

[5, 10]

# 29. 같은 숫자는 싫어

In [46]:
# input
arr = [1,1,3,3,0,1,1]

# return
[1,3,0,1]

[1, 3, 0, 1]

In [77]:
arr = [1,1,3,3,0,1,1]

def solution(arr):
    r = [arr[0]]
    for i in range(len(arr)-1):
        if arr[i] != arr[i+1]:
            r.append(arr[i+1])
    return r

print(solution(arr))

[1, 3, 0, 1]

# 30. 가운데 글자 가져오기

In [ ]:
# input
s = "abcde"

# return
"c"

In [91]:
s = "abcde"

def solution(s):
    l = len(s)
    l2 = int(len(s)/2)
    if l % 2 == 0:
        return s[l2-1:l2+1]
    if l%2 == 1:
        return s[l2]

print(solution(s))

c

# 31. 2016년

In [ ]:
# input
a = 5
b = 24

# return
"TUE"

In [104]:
a = 5
b = 24

def solution(a, b):
    from datetime import date
    week = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]
    w = date(16,a,b).weekday()
    return week[w]
    
print(solution(a,b))

TUE

# 32. 체육복

In [ ]:
# input
n = 5
lost = [2, 4]
reserve = [1, 3, 5]

# return
5

In [5]:
n = 5
lost = [2, 4]
reserve = [1, 3, 5]

def solution(n, lost, reserve):
    lost1 = []
    for i in lost:
        if i in reserve:
            reserve.remove(i)
        else:
            lost1.append(i)
    for i in lost1:
        if i-1 in reserve:
            reserve.remove(i-1)
            pass
        elif i+1 in reserve:
            reserve.remove(i+1)
            pass
        else:
            n -= 1  
    return n

print(solution(n, lost, reserve))

5

# 33. K번째수

In [ ]:
# input
array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2,5,3], [4,4,1], [1,7,3]]

# return
[5, 6, 3]

In [17]:
array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2,5,3], [4,4,1], [1,7,3]]

def solution(array, commands):
    result = []
    for i in commands:
        arr = array[i[0]-1:i[1]]
        arr.sort()
        result.append(arr[i[2]-1])
    return result

print(solution(array, commands))

[5, 6, 3]

# 34. 모의고사

In [ ]:
# input
answers = [1,2,3,4,5]

# return
[1]

In [27]:
answers = [1,2,3,4,5]

def solution(answers):
    first = [1,2,3,4,5]
    cnt1 = 0
    second = [2,1,2,3,2,4,2,5]
    cnt2 = 0
    third = [3,3,1,1,2,2,4,4,5,5]
    cnt3 = 0
    result = []
    for i in range(len(answers)):
        if answers[i] == first[i%len(first)]:
            cnt1 += 1
        if answers[i] == second[i%len(second)]:
            cnt2 += 1
        if answers[i] == third[i%len(third)]:
            cnt3 += 1
    mc = max(cnt1, cnt2, cnt3)
    if cnt1 == mc:
        result.append(1)
    if cnt2 == mc:
        result.append(2)
    if cnt3 == mc:
        result.append(3)
    return result
        

print(solution(answers))

[1]

# 35. 완주하지 못한 선수

In [ ]:
# input
participant = ['marina', 'josipa', 'nikola', 'vinko', 'filipa']
completion = ['josipa', 'filipa', 'marina', 'nikola']

# return
"vinco"

In [36]:
participant = ['marina', 'josipa', 'nikola', 'vinko', 'filipa']
completion = ['josipa', 'filipa', 'marina', 'nikola']

def solution(participant, completion):
    participant.sort()
    completion.sort()
    for i in range(len(completion)):
        if participant[i] != completion[i]:
            return participant[i]
    return participant[i+1]

print(solution(participant, completion))

['filipa', 'josipa', 'marina', 'nikola', 'vinko']
['filipa', 'josipa', 'marina', 'nikola']
filipa
josipa
marina
nikola
vinko